*.o
*.out
.*.un~
q1/.*.un~
q2/.*.un~
q3/.*.un~
q4/.*.un~
q5/.*.un~
q6/.*.un~
q1/edmonton.db
q1/*.osm
q1/*.txt
q2/edmonton.db
q3/edmonton.db
q4/edmonton.db
q5/edmonton.db
q6/edmonton.db
q2/*.osm
q3/*.osm
q4/*.osm
q5/*.osm
q6/*.osm
q2/*.txt
q3/*.txt
q4/*.txt
q5/*.txt
q6/*.txt
